<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="index.html" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="Libraries/img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <div class="m-0 text-primary">
                <i class="fa fa-a text-danger"></i>
                <i class="fa fa-p text-warning"></i>
                <i class="fa fa-c text-success"></i>
                <sub class="text-info"><small>Properties</small></sub>
            </div>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="about" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Property</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="property-list" class="dropdown-item">Property List</a>
                        <a href="property-type" class="dropdown-item">Property Type</a>
                        <a href="property-agents" class="dropdown-item">Property Agent</a>
                        <a href="search" class="dropdown-item">Search Property</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Others</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="testimonial" class="dropdown-item">Testimonial</a>
                    </div>
                </div>
                <a href="contact" class="nav-item nav-link">Contact</a>
            </div>
            <a href="" class="btn btn-primary px-3 d-none d-lg-flex">Add Property</a>
        </div>
    </nav>
</div>